$primary-background-color: #e5e7eb;
$primary-text-color: black;
$sidebar-width: 200px;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary-background-color;
  width: $sidebar-width;
  border-radius: 4px;
  height: 100%;
  margin-top: 50px;

  .menu-link {
    display: block;
    padding: 10px;
    color: $primary-text-color;
    text-decoration: none;
    margin-bottom: 3px;
    border-bottom: 1px solid darken($primary-background-color, 20%);

    svg {
      margin-top: 10px;
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: darken($primary-background-color, 10%);
    }
  }
}
